{% extends "base.html" %} 
{% block title %} Sobre nosotros {% endblock %} 
{% load static %} 
{% block 'content' %}
<div class="container">
    <h2 class="text-center mt-5">SOBRE NOSOTROS</h2>
    <hr class="border-2" />
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="shadow-sm mx-5 my-5 py-2 px-2 text-center text-align-top rounded fs-4 bg-color-grey color-letters">
                OnlyFlans es una empresa enfocada en el mundo de la pastelería y
                los postres, en especial en la venta de flan(de ahí su nombre),
                nace en 2021 en santiago de chile como una empresa familiar que
                pretende entregar productos de calidad a su clientela, estando
                ubicada en providencia, a pasos del metro Parque Bustamante.
            </p>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'img/flan-queso-crema.jpg' %}" alt="Flan" class="shadow-sm rounded" width="300" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="shadow-sm mx-5 my-5 py-2 px-2 text-center text-align-top rounded fs-4 bg-color-grey color-letters">
                ¿Sabías que en realidad el flan tiene siglos de antigüedad y que
                empezó siendo condimentado con pimienta? Resulta sorprendente
                pero los primeros que lo comieron fueron los griegos, ¿te
                imaginás a los antiguos filósofos metiéndole la cuchara al flan?
                Después la receta llegó a manos del imperio romano y fue
                bautizada como “Tyropatina”. Su nombre actual apareció recién en
                el siglo VII, como un derivado de la palabra alemana “flado”,
                que significa “torta u objeto plano”.
            </p>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'img/c.jpeg' %}" alt="Flan" class="shadow-sm rounded" width="500" />
        </div>
    </div>
</div>


{% endblock %}
