{% extends "base.html" %} {% block title %} Bienvenido a OnlyFlans {% endblock%}
{% load static %}
{% block 'content' %}

<!-- Carousel -->

    <div id="carouselExampleSlidesOnly" class="carousel slide mx-5 my-5" data-bs-ride="carousel" data-bs-interval="6000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 rounded" src="{% static "img/a.jpeg" %}" alt="Slide a">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 rounded" src="{% static "img/b.jpeg" %}" alt="Slide b">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 rounded" src="{% static "img/c.jpeg" %}" alt="Slide c">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 rounded" src="{% static "img/d.jpeg" %}" alt="Slide d">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </a>
    </div>

<!-- Fin carousel -->
<h2 class="text-center py-2">FLANES ESPECIALES</h2>
<hr class="border-2 py-2"/>
<!-- Cards -->
    {% block 'cards' %}
    {% include "cards.html" %}
    {% endblock  %}
<!-- Fin Cards -->

{% endblock%}
