{% load static %}

<footer class="bg-lightblue">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-md-6">
                <h2 class="text-center color-letters">OnlyFlans</h2>
            </div>
            <div class="col-12 col-md-6 text-center">
                <a href="https://www.linkedin.com/feed/">
                    <img
                        src="{% static '/img/linkedin.svg' %}"
                        width="40"
                        height="40"
                        class="d-inline-block align-text-top"
                        alt="Linkedin"
                /></a>
                <a href="https://twitter.com/home?lang=es">
                    <img
                        src="{% static '/img/square-x-twitter.svg' %}"
                        width="40"
                        height="40"
                        class="d-inline-block align-text-top"
                        alt="x-twitter"
                /></a>
                <a href="https://web.facebook.com">
                    <img
                        src="{% static '/img/square-facebook.svg' %}"
                        width="40"
                        height="40"
                        class="d-inline-block align-text-top"
                        alt="Facebook"
                /></a>
                <a href="https://web.instagram.com">
                    <img
                        src="{% static '/img/instagram.svg' %}"
                        width="40"
                        height="40"
                        class="d-inline-block align-text-top"
                        alt="Instagram"
                /></a>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="text-center p-3">
        <hr class="border-3 color-letters" />
        © 2024 OnlyFlans Parque Bustamante. Providencia. Created by P.A
    </div>
</footer>

