{% load static %}

  <nav class="navbar navbar-expand-lg bg-lightblue op-0 shadow">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img
              src="{% static "img/logoonlyflans.png" %}"
              alt="Logo"
              width="250"
              height="100"
               class="d-inline-block align-text-top"
                      />
        </a>
        <button class="navbar-toggler color-letters" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon color-letters"></span>
        </button>
        <div class="collapse navbar-collapse me-auto" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            
            {% if 'key' in request.session %}
            <li class="nav-item">
              <a class="nav-link color-letters" href="{% url 'welcome' %}">Bienvenido</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link color-letters" aria-current="page" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link color-letters" href="{% url 'about' %}">Sobre nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link color-letters" href="{% url 'contact' %}">Contactar</a>
            </li> 
            {% endif %}                                       
          </ul>
          <ul class="navbar-nav ms-2 mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle color-letters" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
                </a>
                <ul class="dropdown-menu">
                  {% if 'key' in request.session %}
                  <li><a class="dropdown-item" href="#">Salir</a></li>
                  {% else %}
                  <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar sesion</a></li>
                  <li><a class="dropdown-item" href="#">Registro</a></li>
                  {% endif %}
                </ul>
            </li>
        </ul>
        </div>
      </div>
    </nav>
