<!DOCTYPE html>
{% load static %}
<html lang="es">
  <body>
    <nav
        class="navbar fixed-top navbar-expand-lg op-0"
        data-bs-theme="white"
    >
        <div class="container">
            <a class="navbar-brand" href="#">
                <img
                    src="{% static '/img/logoonlyflans.png' %}"
                    alt="Logo"
                    width="150"
                    height="80"
                    class="d-inline-block align-text-top"
                /></a
            >
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse me-auto" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#"
                            >Inicio</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            aria-current="page"
                            href="#quienes-somos"
                            >Quienes Somos</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            aria-current="page"
                            href="#destacados"
                            >Destacado</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            aria-current="page"
                            href="#contacto"
                            >Contacto</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  </body>
</html>